<!--The content below is only a placeholder and can be replaced.-->

<div class="bg">


  <div layout="row" layout-xs="column" class="container" flex="none">
  
      
          <p class="logo"><img src="assets/logo41.jpg" style="width: 80%; height: auto;"></p>
          <br><br>
          <p class="txt">Zaloguj się na swoje konto</p>
          <br>
      
    
    <mat-form-field appearance="standard">
        <mat-label>E-mail</mat-label> 
      <input matInput placeholder="" [formControl]="email" >
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  
  <br>
    
    <mat-form-field appearance="standard" >
        <mat-label>Hasło</mat-label> 
        <input matInput placeholder="" [type]="hide ? 'password' : 'text'" >
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    
    <br><br>
     
      <button mat-stroked-button style="margin-top: 10px;">Zaloguj</button>
    
      <br><br>
  <p class="txt" style="font-size: medium ;">Zarejestruj się</p>
  <br>
    
  </div>
  
  
  
  
  </div>
  <router-outlet></router-outlet>
  